
# Python bytecode
**pycache**/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Testing artifacts
.pytest_cache/
.hypothesis/

# Logs & temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
*.swo

*.bak
